#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-base_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-more-vertical_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-refresh_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-18bf1093-f093-48e0-af26-1a30c8020d35 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}