#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-base_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-more-vertical_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-refresh_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Rich_text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EED3D7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EED3D7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EED3D7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EED3D7;
  border-radius: 6px 6px 6px 6px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 11px;
  width: 321px;
  height: 124px;
  -ms-transform: rotate(0.0deg);
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Button_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 68px;
  height: 24px;
  -ms-transform: rotate(0.0deg);
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Button_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C44741;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C44741;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C44741;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C44741;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 138px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}