#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-base_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-more-vertical_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-refresh_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Button_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1bee83d3-ae15-400f-a409-07b1ddc4f3ca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}