#s-3a635b3b-c58a-4eef-8984-54cfbd9e2310 #s-base_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a635b3b-c58a-4eef-8984-54cfbd9e2310 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a635b3b-c58a-4eef-8984-54cfbd9e2310 #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a635b3b-c58a-4eef-8984-54cfbd9e2310 #s-more-vertical_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a635b3b-c58a-4eef-8984-54cfbd9e2310 #s-refresh_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a635b3b-c58a-4eef-8984-54cfbd9e2310 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a635b3b-c58a-4eef-8984-54cfbd9e2310 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a635b3b-c58a-4eef-8984-54cfbd9e2310 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a635b3b-c58a-4eef-8984-54cfbd9e2310 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a635b3b-c58a-4eef-8984-54cfbd9e2310 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a635b3b-c58a-4eef-8984-54cfbd9e2310 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3a635b3b-c58a-4eef-8984-54cfbd9e2310 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}