#s-41b86664-8c98-4401-a162-b5941f6c5fe6 #s-base_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41b86664-8c98-4401-a162-b5941f6c5fe6 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41b86664-8c98-4401-a162-b5941f6c5fe6 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41b86664-8c98-4401-a162-b5941f6c5fe6 #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41b86664-8c98-4401-a162-b5941f6c5fe6 #s-more-vertical_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41b86664-8c98-4401-a162-b5941f6c5fe6 #s-refresh_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41b86664-8c98-4401-a162-b5941f6c5fe6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41b86664-8c98-4401-a162-b5941f6c5fe6 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41b86664-8c98-4401-a162-b5941f6c5fe6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-41b86664-8c98-4401-a162-b5941f6c5fe6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}