#s-6efc6573-67ee-4289-b06a-7224ce05a18d #s-base_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6efc6573-67ee-4289-b06a-7224ce05a18d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6efc6573-67ee-4289-b06a-7224ce05a18d #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6efc6573-67ee-4289-b06a-7224ce05a18d #s-more-vertical_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6efc6573-67ee-4289-b06a-7224ce05a18d #s-refresh_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6efc6573-67ee-4289-b06a-7224ce05a18d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6efc6573-67ee-4289-b06a-7224ce05a18d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6efc6573-67ee-4289-b06a-7224ce05a18d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6efc6573-67ee-4289-b06a-7224ce05a18d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6efc6573-67ee-4289-b06a-7224ce05a18d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6efc6573-67ee-4289-b06a-7224ce05a18d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6efc6573-67ee-4289-b06a-7224ce05a18d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6efc6573-67ee-4289-b06a-7224ce05a18d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6efc6573-67ee-4289-b06a-7224ce05a18d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}