#s-9bda20e1-ee83-4cff-b42c-360845c6a558 #s-base_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bda20e1-ee83-4cff-b42c-360845c6a558 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bda20e1-ee83-4cff-b42c-360845c6a558 #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bda20e1-ee83-4cff-b42c-360845c6a558 #s-more-vertical_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bda20e1-ee83-4cff-b42c-360845c6a558 #s-refresh_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bda20e1-ee83-4cff-b42c-360845c6a558 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bda20e1-ee83-4cff-b42c-360845c6a558 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bda20e1-ee83-4cff-b42c-360845c6a558 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bda20e1-ee83-4cff-b42c-360845c6a558 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bda20e1-ee83-4cff-b42c-360845c6a558 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bda20e1-ee83-4cff-b42c-360845c6a558 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bda20e1-ee83-4cff-b42c-360845c6a558 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bda20e1-ee83-4cff-b42c-360845c6a558 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bda20e1-ee83-4cff-b42c-360845c6a558 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bda20e1-ee83-4cff-b42c-360845c6a558 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9bda20e1-ee83-4cff-b42c-360845c6a558 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}