#s-a1156b69-40d9-4093-8be6-6e37ecd32181 #s-base_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a1156b69-40d9-4093-8be6-6e37ecd32181 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a1156b69-40d9-4093-8be6-6e37ecd32181 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a1156b69-40d9-4093-8be6-6e37ecd32181 #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a1156b69-40d9-4093-8be6-6e37ecd32181 #s-more-vertical_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a1156b69-40d9-4093-8be6-6e37ecd32181 #s-refresh_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a1156b69-40d9-4093-8be6-6e37ecd32181 #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-a1156b69-40d9-4093-8be6-6e37ecd32181 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a1156b69-40d9-4093-8be6-6e37ecd32181 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a1156b69-40d9-4093-8be6-6e37ecd32181 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a1156b69-40d9-4093-8be6-6e37ecd32181 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}