#s-b9068135-02c0-4dca-9c16-acacf66c1bb8 #s-base_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9068135-02c0-4dca-9c16-acacf66c1bb8 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9068135-02c0-4dca-9c16-acacf66c1bb8 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9068135-02c0-4dca-9c16-acacf66c1bb8 #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9068135-02c0-4dca-9c16-acacf66c1bb8 #s-more-vertical_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9068135-02c0-4dca-9c16-acacf66c1bb8 #s-refresh_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9068135-02c0-4dca-9c16-acacf66c1bb8 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9068135-02c0-4dca-9c16-acacf66c1bb8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9068135-02c0-4dca-9c16-acacf66c1bb8 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9068135-02c0-4dca-9c16-acacf66c1bb8 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9068135-02c0-4dca-9c16-acacf66c1bb8 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9068135-02c0-4dca-9c16-acacf66c1bb8 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b9068135-02c0-4dca-9c16-acacf66c1bb8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}