#s-c794bb66-b747-4a2a-8549-4b56cf69d8fd #s-base_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c794bb66-b747-4a2a-8549-4b56cf69d8fd #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c794bb66-b747-4a2a-8549-4b56cf69d8fd #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c794bb66-b747-4a2a-8549-4b56cf69d8fd #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c794bb66-b747-4a2a-8549-4b56cf69d8fd #s-more-vertical_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c794bb66-b747-4a2a-8549-4b56cf69d8fd #s-refresh_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c794bb66-b747-4a2a-8549-4b56cf69d8fd #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c794bb66-b747-4a2a-8549-4b56cf69d8fd #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c794bb66-b747-4a2a-8549-4b56cf69d8fd #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c794bb66-b747-4a2a-8549-4b56cf69d8fd #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c794bb66-b747-4a2a-8549-4b56cf69d8fd #s-Image_99 {
  -ms-transform: rotate(0.0deg);
}
#s-c794bb66-b747-4a2a-8549-4b56cf69d8fd #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c794bb66-b747-4a2a-8549-4b56cf69d8fd #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c794bb66-b747-4a2a-8549-4b56cf69d8fd #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c794bb66-b747-4a2a-8549-4b56cf69d8fd #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c794bb66-b747-4a2a-8549-4b56cf69d8fd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}